<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="customAssemblySection" type="EADN.Semester.QuizGame.Common.CustomAssemblySection, EADN.Semester.QuizGame.Common"/>
  </configSections>
  <connectionStrings>
    <add name="QuizGameDBConnectionString" connectionString="Data Source=BOOMER-HP;Initial Catalog=QuizGame;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <customAssemblySection>
    <customAssembly key="IPersistence" dir="C:\dev\EADN.Semester.QuizGame\EADN.Semester.QuizGame.Persistence.EF\bin\Debug" dll="EADN.Semester.QuizGame.Persistence.EF.dll"/>
  </customAssemblySection>
</configuration>