<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customAssemblySection" type="EADN.Semester.QuizGame.Common.CustomAssemblySection, EADN.Semester.QuizGame.Common"/>
  </configSections>
  <customAssemblySection>
    <customAssembly key="IPersistence" dir="C:\dev\EADN.Semester.QuizGame\EADN.Semester.QuizGame.Persistence.EF\bin\Debug" dll="EADN.Semester.QuizGame.Persistence.EF.dll"/>
  </customAssemblySection>
</configuration>